In [1]:
import pandas as pd
import osmnx as ox
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_pickle('files/cleaned.pkl')

In [3]:
df.columns

Index(['id', 'price.mainValue', 'property.bedroomCount',
       'property.location.box', 'property.location.latitude',
       'property.location.locality', 'property.location.longitude',
       'property.location.number', 'property.location.postalCode',
       'property.location.street', 'property.netHabitableSurface',
       'property.subtype', 'Unnamed: 0.1', 'Address', 'Armored door',
       'Bathrooms', 'Construction year', 'Double glazing',
       'E-level (primary energy consumption)', 'Energy class', 'Facades',
       'Flood zone type', 'Heating type', 'Kitchen type', 'Living area',
       'Living room surface', 'Planning permission obtained', 'Toilets',
       'Building condition', 'Cadastral income', 'Type of building',
       'As built plan', 'Bedroom 1 surface', 'Bedroom 2 surface',
       'Covered parking spaces', 'Intercom', 'Terrace surface', 'Basement',
       'Floor :', 'Number of floors', 'Elevator'],
      dtype='object')

In [4]:
df.head()

,id,price.mainValue,property.bedroomCount,property.location.box,property.location.latitude,property.location.locality,property.location.longitude,property.location.number,property.location.postalCode,property.location.street,...,As built plan,Bedroom 1 surface,Bedroom 2 surface,Covered parking spaces,Intercom,Terrace surface,Basement,Floor :,Number of floors,Elevator
1,8745713.0,185000.0,2.0,b61,51.185615,Berchem,4.441640,118,2600,Fruithoflaan,...,No,NaN,NaN,1.0,NaN,10.0,1.0,6.0,NaN,1.0
2,8745715.0,280000.0,3.0,b61,51.185615,Berchem,4.441640,118,2600,Fruithoflaan,...,No,NaN,NaN,1.0,NaN,35.0,1.0,6.0,NaN,1.0
4,8744282.0,184000.0,1.0,1R,51.113038,Niel,4.327348,64,2845,Edward Claessenslaan,...,No,NaN,NaN,1.0,NaN,NaN,NaN,1.0,2.0,NaN
5,8664757.0,149000.0,1.0,NaN,51.221663,Antwerp,4.398299,"1, 217",2000,Kaasstraat,...,No,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0
9,8614460.0,175000.0,2.0,NaN,51.305726,Oostmalle,4.737027,74,2390,Hoogstraatsebaan,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,NaN

In [5]:
# Specify the name that is used to seach for the data
place_name = "Kamppi, Helsinki, Finland"

# Fetch OSM street network from the location
graph = ox.graph_from_place(place_name)
type(graph)

networkx.classes.multidigraph.MultiDiGraph